<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-icon name="chevron-back-circle-outline" size="large" color="light" (click)="dismiss()" slot="start"></ion-icon>
    <ion-title class="ion-text-center">ประเภทรายรับ</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- ดึงข้อมูล incometype -->
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">incomeType</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-item>
    <ion-item-sliding *ngFor="let item of data"  >
      <ion-item>
        <ion-label > {{item.incometype}}</ion-label>
      </ion-item>
  
      <ion-item-options side="end">
        <ion-item-option (click)="onEdit(item)">
          <ion-icon slot="start" name="create"></ion-icon>
          Edit
        </ion-item-option >
        <ion-item-option color="danger" (click)="onDelete(item)">
          <ion-icon slot="start" name="trash"></ion-icon>
          Delete
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-item>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end" (click)="openAddIncomeTypeAlert()">
    <ion-fab-button color="success">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  
  </ion-fab>
</ion-content>
