<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center"> บันทึกรายรับรายจ่าย </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item (click)="openIncomeModal()">
      <ion-thumbnail slot="start">
        <img src="assets/images/salary.png" />
      </ion-thumbnail>
      <ion-label >บันทึกรายรับ</ion-label>
    </ion-item>

    <ion-item (click)="openExpenseModal()">
      <ion-thumbnail slot="start">
        <img src="assets/images/money.png" />
      </ion-thumbnail>
      <ion-label>บันทึกรายจ่าย</ion-label>
    </ion-item>

    <ion-item (click)="openReportModal()">
      <ion-thumbnail slot="start">
        <img src="assets/images/budget.png" />
      </ion-thumbnail>
      <ion-label>สรุปรายรับรายจ่าย</ion-label>
    </ion-item>

    <ion-item (click)="openIncomeTypeModal()">
      <ion-thumbnail slot="start">
        <img src="assets/images/wallet.png" />
      </ion-thumbnail>
      <ion-label>ประเภทรายรับ</ion-label>
    </ion-item>

    <ion-item (click)="openExpenseTypeModal()">
      <ion-thumbnail slot="start">
        <img src="assets/images/no-money.png" />
      </ion-thumbnail>
      <ion-label>ประเภทรายจ่าย</ion-label>
    </ion-item>

  </ion-list>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-title class="ion-text-center">Dev539</ion-title>
  </ion-toolbar>
</ion-footer>
